@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Bitcount+Grid+Double:wght@100..900&family=Black+Ops+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    width: 100%;
    height: 125vh;
    background-color: #fdf6ec;
    position: relative;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    padding-top: 10px;
}


/* chatbox */
.chat-box {
    width: 400px;
    height: 500px;
    background-color: #ffd6d6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px auto;
}

.message {
    height: 500px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    margin: 0;
    scroll-behavior: smooth;
    padding: 10px 15px 60px 0;
}

li {
    list-style: none;
    padding: 5px 10px;
    background-color: #fdf6ec;
    max-width: 75%;
    align-self: flex-end;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}


.user-input {
    width: 90%;
    display: flex;
    background-color: #ffd6d6;
    border: 1px solid #776d6d;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.user-input:focus {
    outline: none;
    border-color: black;
}

.loader {
    display: none;
    position: absolute;
    top: 71%;
    right: 52%;
}

.bot {
    align-self: flex-start;
    margin-left: 13px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0;
}

.delete {
    height: 43px;
    width: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    padding: 10px;
    cursor: pointer;
}


/* footer */

.footer {
    width: 100%;
    text-align: center;
    background-color: #fdf6ec;
    font-size: 14px;
    color: #666;
    padding-top: 170px;
    position: absolute;
}


/* media queries start here */
@media (max-width: 768px) {
    .chat-box {
        width: 90%;
        height: 80vh;
    }

    .heading {
        font-size: 2rem;
    }

    .user-input {
        position: absolute;
        left: 0;
        right: 0;
    }

    .loader {
        position: absolute;
        top: 68%;
        right: 70%;
    }
}

@media (max-width: 480px) {
    .chat-box {
        width: 90%;
        height: 70vh;
    }

    .heading {
        font-size: 1.5rem;
    }

    .user-input {
        position: absolute;
        left: 0;
        right: 0;
    }

    .loader {
        position: absolute;
        top: 64%;
        right: 52%;
    }
}

@media (max-width: 360px) {
    .chat-box {
        width: 90%;
        height: 80vh;
    }

    .heading {
        font-size: 1.2rem;
    }

    .loader {
        position: absolute;
        top: 68%;
        right: 30%;
    }
}